@model Application.Models.NavbarModels.PersonalNavbar
@using Application.PublicModel


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Application

@{
    ViewBag.Title = "پرسنل سازمان";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="color:white;text-align:center" class=@TempData["css"]>
    @if (TempData["notice"] != null)
    {
        <p>@TempData["notice"]</p>
    }
</div>
<div class="layout-content-body">
    <div class="row gutter-xs">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                        <button type="button" class="card-action card-reload" title="Reload"></button>
                        <button type="button" class="card-action card-remove" title="Remove"></button>
                    </div>
                    <strong>لیست پرسنل سازمان</strong>
                </div>

                <div class="card-body">

                    <div class="md-form-group md-label-floating col-md-6">
                        <div class="md-form-group md-label-floating col-md-6">
                            <input class="md-form-control" type="text" name="name" id="serachInput" spellcheck="false" required="" aria-required="true">
                            <label class="md-control-label">جستجو</label>
                        </div>
                    </div>
                    <div class="md-form-group md-label-floating col-md-6">
                        <div class="margin-top">
                            <div class="col-xs-6 col-md-6">
                                <a class="btn btn-primary marginbutoom" id="showcategory" data-toggle="modal" asp-action="AddEditPersonal"
                                   data-target="#modal-action-personal">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    افزودن پرسنل جدید
                                </a>
                            </div>
                        </div>
                    </div>
                    <table id="example" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>کد</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>کد ملی</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                                foreach (var item in Model.tblPersonals)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.fname</td>
                                        <td>@item.family</td>
                                        <td>@item.natCode</td>

                                        <td>
                                            <a class="btn btn-info" id="editcategory" data-toggle="modal" asp-action="AddEditPersonal"
                                               data-target="#modal-action-personal" asp-route-Id="@item.idPerson">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                ویرایش
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="progress" class="addModal">
    <div class="addCenter">
        <img src="~/Content/loading.gif" />
    </div>
</div>
<div id="infoModalAlertColored" tabindex="-1" role="dialog" class="modal fade">

</div>
<div id="successModalAlert" tabindex="-1" role="dialog" class="modal fade">

</div>


@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-personal", Size = ModalSize.Medium })

@section Scripts{
    <script src="~/js/modal-js/personal-index.js"></script>
}

